/* src/UserHome.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.userhome-container {
  text-align: center;
  background-color: #f1f3f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userhome-header {
  padding: 20px;
  background-color: #007bff;
  color: white;
}

.header-logo {
  width: 120px;
  margin-bottom: 20px;
}

.userhome-header h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.userhome-header p {
  font-size: 1.2rem;
}

.userhome-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.userhome-card {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.userhome-card:hover {
  transform: translateY(-5px);
}

.userhome-card h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #007bff;
}

.userhome-card p {
  font-size: 1rem;
  color: #555;
}

.userhome-footer {
  background-color: #333;
  color: white;
  padding: 10px;
}
